<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Title</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-primary">
                <div class="card-header">
                    <h1 class="card-title" th:text="${recipe.description}">Recipe description</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Categories :</h5>
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li th:remove="all">cat one</li>
                                <li th:remove="all">cat two</li>
                                <li th:each="category : ${recipe.categories}" th:text="${category.getName()}">cat three</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Preparation time:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.preparationTime + ' min'}">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Difficulty</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.difficulty}">Easy</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Cook time:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.cookTime + ' min'}">30 min</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Servings:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.servings}">4</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Source:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.source}">source</p>
                        </div>
                        <div class="col-md-3">
                            <h5>URL:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.url}">http://www.example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-primary" style="margin-top: 20px">
                <div class="card-header">
                    <h1 class="card-title">Ingredients</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:remove="all">1 cup of water</li>
                                <li th:remove="all">1 bag of tea</li>
                                <li th:each="ingredient : ${recipe.ingredients}" th:text="${(ingredient.getAmount() + ' '
                                + ingredient.getUnitOfMeasure().getName() + ' ' + ingredient.getName())}">2 teaspoons of sugar</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-primary" style="margin-top: 20px">
                <div class="card-header">
                    <h1 class="card-title">Directions</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}">Directions in recipe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-primary" style="margin-top: 20px">
                <div class="card-header">
                    <h1 class="card-title">Notes</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.notes.recipeNotes}">Notes in recipe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>